@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --light-aqua: rgb(220, 242, 241);
    --soft-blue: rgb(127, 199, 217);
    --light-gray: rgb(247, 247, 247);
    --dark-indigo: rgb(54, 84, 134);
    --midnight-blue: rgb(15, 16, 53);
    --font-color: rgb(255, 255, 255);
}  
.navbar{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 4%;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);
}
.navbar .logo{
    width: 20vw;
}
.nav-bar-btn{
    width: 130px;
    display: flex;
    justify-content: center;
}
.Btn {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #2e2e2e;
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--af-white);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: var(--night-rider);
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--night-rider);
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 5px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }

  .main-container{
    padding: 20px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

/* --------------- left-sidebar ----------------- */
.left-side{
  flex-basis: 28%;
  align-self: flex-start;
  background-color: var(--light-gray);
  padding: 10px;
  border-radius: 10px;
}
.left-side-main-first{
  background-image: linear-gradient(to right bottom, #5699f3, #6aa5f2, #7db1f1, #91bdef, #a6c8ed);
  padding: 2%;
  border-radius: 10px;
}
.left-side-main-first .first-contact{
  color: var(--font-color);
  border: 1px solid #fff;
  border-radius: 15px;
  width: 145px;
  padding: 4px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
.left-side-user{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.left-side-user img{
  width: 30px;
  border-radius: 50%;
  margin-right: 8px;
}
.left-side-user p{
  color: var(--font-color);
  font-size: larger;
  font-weight: 600;
}
.left-side-contact-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: var(--font-color);
  font-weight: 500;margin-bottom: 8px;
}
.left-side-contact-details span{

}
.left-side-contact-details img{
  width: 30px;
  border-radius: 2px;
}
.number-timer{
  display: flex;
}
.number-timer p{
  color: var(--font-color);
  display: flex;
  font-weight: var(--font-color);
}
.action-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px 0px;
}
.action{
  flex-basis: 48%;
  text-align: center;
  background-image: linear-gradient(to right bottom, #5699f3, #6aa5f2, #7db1f1, #91bdef, #a6c8ed);
  border-radius: 15px;
  color: var(--font-color);padding: 3px;
}
.activity{
  flex-basis: 48%;
  text-align: center;
}
.main-contact-details{
  background: #e4edfa;
  border-radius: 15px;
}
.action-container-logo{
  display: flex;
  justify-content: space-between;
  padding: 18px 10px 10px 10px;
}
.action-container-logo p{
  font-size: 10px;
  text-align: center;
  font-weight: 500;
}
.action-container-logo img{
  width: 40px;
  background: #ffffff;
  padding: 10px;
  border-radius: 50%;
  object-fit: contain;
}
  .right-side{

  }